body{
	
	font-family: sans-serif;
	text-align: center;
	color: black;
}

h1{

	background-image:url("../img/sobre-background.jpg");
	color: black;
	text-align:left;
}
h2{
	text-align: left; 
	border-bottom: 2px solid black;

}
figure{
	background-color: #E0E0E0;
  	text-align: center;
  	
}
figcaption{
	font-style: italic ;
  	
}
#Centro{

	padding-top: 8px;
	margin: auto;
	width: 550px;
	height: 400px;

}
#familia{
	float: right;
}
#rodape{
	background-image:url("../img/fundo-rodape.png");
	height: 24px;
}