body{
	
	font-family: sans-serif;
	text-align: center;
	color: black;
}

h1{

	background-image:url("background.jpg");
	color: white;
}
h2{

	border-bottom: 2px solid black;

}
figure{
	background-color: #A0A0A0;
	border: 2px solid black;
  	text-align: center;
  	
}
figcaption{
	font-style: italic ;
  	
}
#Centro{
	margin: auto;
	width: 700px;
}
#familia{
	float: right;
}
#rodape{
	background-image:url("fundo-rodape.png");
	height: 50px
}